body, html {
    height: 100%;
    margin: 0;
}

body {
    background-image: url('../assets/tour_optimizer_background2.jpg');
    background-size: cover; 
    background-position: center;
    background-repeat: no-repeat; 
    background-attachment: fixed;
}

.account {
    /* Your other account-specific styles */
}
