.routeLogsContainer {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    gap: 20px;
}

.log {
    background-color: white;
    border-radius: 25px;
    padding: 10px;
    margin: 10px;
    padding-bottom: 25px;
}

.routeOrder {
    list-style-position: inside;
}

.routeOrder li {
    margin: 0;
    padding: 0;
}
