.route {
    border-radius: 10px;
    display: flex;
    flex-direction: column;
    align-items: center; 
    justify-content: center;
    padding: 10px;

    input {
        margin: 3px;
        width: 50%;
    }

    button {
        margin: 3px;
    }

    /* Route.css */
    ol {
        padding-left: 20px; /* Adjust this value as needed */
    }
  
    ol li {
        margin: 0;
        padding: 0;
        list-style-position: inside;
    }
}

.dropdown {
    width: 30%;
    margin: 3px;
}

.locations {
    display: flex;
    flex-direction: column;
    align-items: center; 
    justify-content: center;
}